.navbar.is-default {
  background-color: #b2b8a3;
}

.textarea.is-viewOnly {
  height: 100px;
  border: 0px none;
  outline: 0px none;
  box-shadow: 0px none;
  border-radius: 4px;
  background-color: #fff5eb;
  resize: none;
}

.box {
  background-color: #fdfaf6;
  border-radius: 0px;
}