[[extend 'layout.html']]

<!-- don't display anything until vue is loaded -->
<style>
[v-cloak] {
   display: none;
}
</style>

<div class="section pt-0 pl-0 pr-0" id="vue-target" v-cloak>

   <!-- Navigation bar -->
    <nav class="navbar is-default mb-4" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="[[=URL('index')]]">
          <img class="logo pr-1 pl-2" src="Data/logo.png">
          <h1 style="font-size:1.5em; font-family: Microsoft YaHei; color:#343a40"> 老婆我饿了</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="the-navbar-menu"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="the-navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item pr-0">
            <button @click="set_add_mode(true)" class="button is-rounded is-small"
                    style="background-color:#c84b31; border:none">
                <span style="color:white">Add Recipe</span>
            </button>
          </div>
          <div class="navbar-item">
            <input class="input is-small is-rounded" type="text" placeholder="Search" v-model="search">
            <i class="fa fa-search pl-2 pr-4" aria-hidden="true"></i>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              [[if globals().get('user'):]]
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-primary">
                    [[=globals().get('user').get('email')]]
                  </a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="[[=URL('auth/logout')]]">Logout</a>
                    <a class="navbar-item" href="[[=URL('auth/profile')]]">Profile</a>
                    <a class="navbar-item" href="[[=URL('auth/change_password')]]">Change Password</a></li>

                  </div>
                </div>
              [[else:]]
                <a class="button is-ghost is-small has-text-dark pr-0"
                   href="[[=URL('auth/register')]]">Sign up</a>
                <a class="button is-ghost is-small has-text-dark pl-1"
                   href="[[=URL('auth/login')]]">Log in</a>
              [[pass]]
            </div>
          </div>
        </div>
      </div>
    </nav>

   <!-- Opened Recipe -->

   <div v-if="see_mode" class="container block">
      <div class="content">
         <!-- Recipe Name -->
         <div class="control" :class = "{'is-loading' : see_state['name'] === 'pending'}">
            <input type="text" class="input title is-3" v-model="see_name"
               :class="{
                  'is-focused': see_state['name'] === 'edit',
                  'is-static': see_state['name'] === 'clean',
               }"
               :readonly="see_state['name'] === 'clean'"
               @click = "start_edit(0)"
               @blur = "stop_edit(0)"
            />
         </div>

         <!-- Ingredients -->
         <div class="control mb-3" :class = "{'is-loading' : see_state['ingredients'] === 'pending'}">
            <h5>Ingredients</h5>
            <textarea class="textarea" v-model="see_ingredients"
               :class="{
                  'is-focused': see_state['ingredients'] === 'edit',
                  'is-viewOnly': see_state['ingredients'] === 'clean',
               }"
               :readonly="see_state['ingredients'] === 'clean'"
               @click = "start_edit(1)"
               @blur = "stop_edit(1)"
            ></textarea>
         </div>

         <!-- Methods -->
         <div class="control mb-3" :class = "{'is-loading' : see_state['method'] === 'pending'}">
            <h5>Method</h5>
            <textarea class="textarea" v-model="see_method"
               :class="{
                  'is-focused': see_state['method'] === 'edit',
                  'is-viewOnly': see_state['method'] === 'clean',
               }"
               :readonly="see_state['method'] === 'clean'"
               @click = "start_edit(2)"
               @blur = "stop_edit(2)"
            ></textarea>
         </div>

         <!-- Time -->
         <div class="control" :class = "{'is-loading' : see_state['time_required'] === 'pending'}">
            <span class="white-space: nowrap">
               <h5>Time Required<input type="text" class="input subtitle" v-model="see_time" value="minutes"
               :class="{
                  'is-focused': see_state['time_required'] === 'edit',
                  'is-static': see_state['time_required'] === 'clean',
               }"
               :readonly="see_state['time_required'] === 'clean'"
               @click = "start_edit(3)"
               @blur = "stop_edit(3)"
            /></h5></span>
         </div>

         <button @click="delete_recipe(see_idx)" class="button is-danger"
                 style="background-color:#c84b31">
            Delete
         </button>
         <button @click="set_see_mode(false)" class="button is-warning"
                 style="background-color:#e5b299; color:white">
            Close
         </button>
      </div>
   </div>
   <!-- -------------------------------------------------------------------------------- -->

   <!-- Adding Recipe -->

   <div v-if="add_mode" class="container block">
      <div class="title">Add a Recipe</div>
      <div class="form">

         <div class="field">
            <label class="label">Name: </label>
            <div class="control">
               <input type="text" v-model="add_name" class="input">
            </div>
         </div>

         <div class="field">
            <label class="label">Ingredients: </label>
            <div class="control">
               <input type="text" v-model="add_ingredients" class="input">
            </div>
         </div>

         <div class="field">
            <label class="label">Method: </label>
            <div class="control">
               <input type="text" v-model="add_method" class="input">
            </div>
         </div>

         <div class="field">
            <label class="label">Time to cook: </label>
            <div class="control">
               <input type="text" v-model="add_time" class="input">
            </div>
         </div>

         <div v-if="!selection_done" class="field has-addons block">
            <p class="control">
               <div class="file is-info is-small" style="border-radius:50px">
                  <label class="file-label">
                     <input class="file-input" type="file"
                            accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                            @change="select_file($event)">
                     <span class="file-cta" style="background-color:#47597e">
                        <span class="file-label">
                           <span>Select File</span>
                        </span>
                     </span>
                  </label>
               </div>
            </p>
         </div>
         <img v-if="add_img" width="200" :src="add_img">

         <div class="field">
            <div class="control">
               <input type="submit" @click="add_recipe" value="Add" class="button is-small"
                      style="background-color:#b2b8a3; color:#343a40; border-radius:4px">
               <input type="submit" @click="set_add_mode(false)" value="Cancel" class="button is-small"
                      style="background-color:#e5b299; color:#343a40; border-radius:4px; font-size: 0.8rem">
            </div>
         </div>
      </div>
   </div>

   <!-- Display Recipes here -->
   <div class="container block">
      <div class="columns is-multiline">
      <div v-for="r in recipes" class="column is-one-quarter-desktop is-one-third-tablet is-half-mobile">
         <div class="box pb-1 pt-3 pl-2 pr-2">
            <h5 class="title is-5 has-text-centered mb-3" style="color:#393E46">
                {{r.name}}
            </h5>

            <!-- Recipe Image -->
            <figure class="image" >
               <img v-if="r.image" :src="r.image">
            </figure>

            <!-- Recipe Time Required;  See and Delete -->
            <nav class="level">
               <div class="level-left">
                  <span><p style="color:#4a503d">{{r.time_required}}</p></span>
               </div>

               <!-- Open a Recipe -->
               <div class="level-right">
                  <button @click="see_recipe(r._idx)" class="button is-ghost"
                          style="color: #c84b31">
                     <strong>open</strong>
                  </button>
               </div>
            </nav>

         </div>
      </div>
      </div>
   </div>

</div>

[[block page_scripts]]
<!-- loads callback url which the browser can later use to
      talk with the server -->
<script>
   let load_recipes_url = "[[=XML(load_recipes_url)]]";
   let add_recipe_url = "[[=XML(add_recipe_url)]]";
   let delete_recipe_url = "[[=XML(delete_recipe_url)]]";
   let edit_recipe_url = "[[=XML(edit_recipe_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]